/* .user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.user-table th {
  background-color: #d64550;
  color: white;
  padding: 10px;
}

.user-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.user-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.edit-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #218838;
}

.delete-btn:hover {
  background-color: #c82333;
}

.total-users {
 
  margin-top: 20px;
  padding: 10px 20px;
  background: #f1f1f1;
  border-radius: 8px;
  width: fit-content;
  font-weight: bold;
  font-size: 18px;
  ;
} */